
<div class="card">
    <div class="card-body">
        <h1>{{postagens.titulo}}</h1>
        <hr>
        <small>{{postagens.data}}</small>
        <hr>
        <p>{{postagens.conteudo}}</p>
    </div>
</div>